extends layout

block content
	//h1= title
	//p Welcome to #{title}
	#stats
		.player
			p 4
		.bomb
			p 2
	#content
		.bomb
			img(src = 'http://trenchreynolds.me/wp-content/uploads/bomb.png')
		.button
			a(href='#') Weiterwerfen