extends layout

block content
	#score_overlay
		img(src="graphics/bigbomb_explode.png" alt="ZackZackBoom")
		p
		h2 Highscore
		table
		.button_restart
			a(href='#') Ready?
	#login_overlay
		h2 Please Log In
		.login_form
			input(type='text',class='loginname',placeholder='Your Name')
			input(type='submit',class='submit',value='Submit')
	#stats
		.player
			p 0
		.bomb
			p 0
	#content
		.bomb
			//img(src = 'http://trenchreynolds.me/wp-content/uploads/bomb.png')
			img(src = '../graphics/bigbomb.png')
		.nobomb
			p Player 1 has the Bomb
		.button_active
			a(href='#') Throw Bomb!
		.button_inactive
			a(href='#') Wait!