doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='http://code.createjs.com/soundjs-0.5.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/client.js')
    meta(name='apple-mobile-web-app-capable',content='yes')
  body
    block content