body {
  background-color: #e74c3c;
  margin: 0px;
  font: 14px -apple-system-font, "Helvetica Neue", "Helvetica", sans-serif;
}
body h1 {
  line-height: em(44);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body #stats {
  margin-left: 5px;
  width: 100%;
  height: 100px;
}
body #stats .player {
  background-image: url(../graphics/player.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  margin: 2%;
  width: 30%;
  height: 300px;
  float: left;
  background-position-x: 135px;
  background-position-y: 30px;
}
body #stats .player p {
  line-height: 0.0em;
  color: white;
  font-size: 10em;
  float: left;
  margin-top: 35%;
}
body #stats .bomb {
  background-image: url(../graphics/bomb.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  margin: 2%;
  width: 29%;
  height: 300px;
  float: right;
}
body #stats .bomb p {
  line-height: 0.0em;
  color: white;
  font-size: 10em;
  float: right;
  margin-top: 35%;
}
body #content .bomb {
  margin-top: 5%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
body #content .bomb img {
  width: 300px;
}
body #content .button {
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 700px;
  height: 90px;
  background-color: #ecf0f1;
  border: none;
  text-align: center;
  padding: 20px;
  margin-left: -370px;
  -webkit-transition: background-color 0.2s;
  padding-top: 60px;
  /*&:hover {
						background-color: @red;
					}*/

}
body #content .button a {
  color: #e74c3c;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-size: 3em;
  /*&:hover {
					color: @cloud;
				}*/

}
a {
  color: #00B7FF;
}
