body {
  background-color: #e74c3c;
  margin: 0px;
  font: 14px -apple-system-font, "Helvetica Neue", "Helvetica", sans-serif;
}
body h1 {
  line-height: em(44);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body #stats {
  width: 100%;
}
body #stats .player {
  background-image: url(../graphics/player.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  margin: 2%;
  width: 30%;
  height: 8%;
  float: left;
  background-position-x: 85%;
}
body #stats .player p {
  line-height: 0.0em;
  color: white;
  font-size: 3em;
  float: left;
  margin-top: 30%;
}
body #stats .bomb {
  background-image: url(../graphics/bomb.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  margin: 2%;
  width: 29%;
  height: 8%;
  float: right;
}
body #stats .bomb p {
  line-height: 0.0em;
  color: white;
  font-size: 3em;
  float: right;
  margin-top: 30%;
}
body #content .bomb {
  display: none;
  padding-top: 30%;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
body #content .bomb img {
  width: 230px;
}
body #content .nobomb {
  display: block;
  padding-top: 20%;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
body #content .nobomb p {
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}
body #content .button_active {
  display: none;
  background-color: #ffffff;
}
body #content .button_inactive {
  display: block;
  background-color: #af291b;
}
body #content .button_active,
body #content .button_inactive {
  position: fixed;
  bottom: 5%;
  left: 50%;
  width: 230px;
  height: 10px;
  border: none;
  text-align: center;
  padding: 20px;
  margin-left: -136px;
  -webkit-transition: background-color 0.2s;
  padding-top: 10px;
  /*&:hover {
						background-color: @red;
					}*/

}
body #content .button_active a,
body #content .button_inactive a {
  color: #e74c3c;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.2em;
  font-weight: bold;
  /*&:hover {
					color: @cloud;
				}*/

}
a {
  color: #00B7FF;
}
