//mixins
@red: #E74C3C;
@darkred: #AF291B;
@cloud: white;
@black-a: rgba(0,0,0,0.85);

@-webkit-keyframes pulse {
  from{
    -webkit-transform: scale(1);
  }
  to{
    -webkit-transform: scale(1.1);
  }
}

body {
	background-color: @red;	
	//padding: 50px;
	margin: 0px;
	font: 14px -apple-system-font,"Helvetica Neue","Helvetica",sans-serif;

	h1 {
		
		//text-align: center;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	
	h2 {
		text-align: center;
		color: @cloud;
		font-size: 2em;
		font-weight:bold;
		text-transform: uppercase;
	}
	
	#score_overlay {
		background-color: @red;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 3;
		
		color: white;
		font-size: 1.5em;
		overflow: scroll;
		img {
			width: 100%;
			display: block;
			max-width: 300px;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		
		p {
			text-align: center;
			margin-top: 0px;
			
		}
		
		table {
			width: 100%;
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			tr {
				td {
					text-align: center;
				}
			}
		}
	}

	#login_overlay {
		background-color: @black-a;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 2;
		padding-top: 20%;	
		
		.login_form {
			width: 230px;
			margin-left: auto;
			margin-right: auto; 

			.loginname {
				width: 230px;
				height: 50px;
				border: none;
				border-radius: 0px;
				float: left;
				font-size: 1.3em;
				text-align: center;
				padding: 0px;

				
				&:focus {
					//outline: none;
					outline-color: @darkred;
				}
				

			}
			.submit {
				margin-top: 5%;
				width: 230px;
				height: 50px;
				font-size: 1.3em;
				font-weight: bold;
				color: @cloud;
				background-color: @red;
				border-radius: 0px;
				-webkit-appearance: none;
				border-color: transparent;
				-webkit-transition: all .2s cubic-bezier(.73, 0, .53, 1); 
				-moz-transition: all .2s cubic-bezier(.73, 0, .53, 1); 
				&:focus {
					//outline: none;
					outline-color: @darkred;
				}
				&:hover {
					background-color: @darkred;
				}
			}
		}	
	}

	#stats {
		width: 100%;
		
		.player {
			background-image: url(../graphics/player.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			margin: 2%;
			width: 30%;
			height: 8%;
			float: left;
			background-position: 85% 1%;
			@media (min-width: 700px) {
						background-size: 60%;
						width: 10%;
					}

			p{
				line-height: 0.0em;
				color: white;
				font-size: 3em;
				float: left;
				margin-top: 30%;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
			}
		}

		.bomb {
			background-image: url(../graphics/bomb.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: 0px 10%;
			margin: 2%;
			width: 29%;
			height: 8%;
			float: right;
			@media (min-width: 700px) {
						background-size: 60%;
						width: 10%;
						background-position: 0px -10%;
					}
			p{
				line-height: 0.0em;
				color: white;
				font-size: 3em;
				float: right;
				margin-top: 30%;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
			}
		}
	}
	#content {
		
		.bomb {
			display: none;
			padding-top: 20%;
			width: 230px;
			margin-left: auto;
			margin-right: auto;
			-webkit-animation: pulse .4s ease-in-out -.4s infinite alternate forwards;
			@media (min-width: 700px) {
						padding-top: 15%;
					}
			@media screen and (max-height: 430px) {
						padding-top: 30%;
					}		

			img {
				width: 230px;
			}
		}
		.nobomb {
			display: block;
			padding-top: 10%;
			width: 230px;
			margin-left: auto;
			margin-right: auto;
			@media (min-width: 700px) {
						padding-top: 10%;
					}
			p {
				color: @cloud;
				font-size: 4em;
				line-height: 1.2em;
				text-align: center;
				font-weight: bold;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
			}
		}
		.button_active{
			display: none;
			background-color: @cloud;
		}	
		.button_inactive {
			display: block;
			background-color: @darkred;
		}
		.button_active, .button_inactive {
			position: fixed;
			bottom: 5%;
			left: 50%;
			width: 230px;
			height: 30px;
			border: none;
			text-align: center;
			padding: 20px;
			margin-left: -136px;
			border-color: transparent;
			-webkit-transition: background-color 0.2s;
			padding-top: 23px;
			@media screen and (max-height: 430px) {
						height: 10px;
						padding-top: 8px;
					}
			//-webkit-transform: scale(2);
			/*&:hover {
						background-color: @red;
					}*/
			a {
				color: @red;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-size: 1.5em;
				font-weight: bold;
				@media screen and (max-height: 430px) {
						font-size: 1.3em;
					}
				/*&:hover {
					color: @cloud;
				}*/
			}	
		}
	}		
}

a {
	color: #00B7FF;
}