//mixins
@red: #E74C3C;
@darkred: #AF291B;
@cloud: white;

body {
	background-color: @red;	
	//padding: 50px;
	margin: 0px;
	font: 14px -apple-system-font,"Helvetica Neue","Helvetica",sans-serif;

	h1 {
		
		//text-align: center;
		line-height: em(44);
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

	#stats {
		width: 100%;
		
		.player {
			background-image: url(../graphics/player.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			margin: 2%;
			width: 30%;
			height: 8%;
			float: left;
			background-position-x: 85%;
			//background-position-y: 30px;

			p{
				line-height: 0.0em;
				color: white;
				font-size: 3em;
				float: left;
				margin-top: 30%;
			}
		}

		.bomb {
			background-image: url(../graphics/bomb.svg);
			background-repeat: no-repeat;
			background-size: 50%;
			margin: 2%;
			width: 29%;
			height: 8%;
			float: right;
			p{
				line-height: 0.0em;
				color: white;
				font-size: 3em;
				float: right;
				margin-top: 30%;
			}
		}
	}
	#content {
		
		.bomb {
			padding-top: 30%;
			width: 230px;
			margin-left: auto;
			margin-right: auto;
			img {
				width: 230px;
			}
		}	
		.button {
			position: fixed;
			bottom: 5%;
			left: 50%;
			width: 230px;
			height: 10px;
			background-color: #ecf0f1;
			border: none;
			text-align: center;
			padding: 20px;
			margin-left: -136px;
			-webkit-transition: background-color 0.2s;
			padding-top: 10px;
			//-webkit-transform: scale(2);
			/*&:hover {
						background-color: @red;
					}*/
			a {
				color: @red;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-size: 1.2em;
				font-weight: bold;
				/*&:hover {
					color: @cloud;
				}*/
			}	
		}
	}		
}

a {
	color: #00B7FF;
}